.cards-list {
  @include reset-list;
  text-align: left;
  background-color: $base-color;
}

.cards-list__item {
  position: relative;
  min-height: 265px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;
  background-color: $opt-color-gy;

  &:last-child {
    margin-bottom: 0;
  }

  &::before,
  &:after {
    content: "";
    position: absolute;
    display: block;
  }

  &::before {
    top: 22px;
    left: 19px;
    width: 55px;
    height: 55px;
    background-color: $opt-color-gn;
    border: 2px solid $opt-color-gy;
    border-radius: 50%;
  }

  &::after {
    background-repeat: no-repeat;
    background-position: center;
  }

  &--fit::after {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url(../../img/icon-cat-slim.svg);
    background-size: 35px 49px;
  }

  &--mass::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url(../../img/icon-cat-pro.svg);
    background-size: 67px 28px;
  }
}

.cards-list__title {
  margin-left: 71px;
  text-transform: uppercase;
}

.cards-list__description {
  @include reset;
  margin-top: 30px;
  margin-bottom: 22px;
  font-family: "Arial";
}

.cards-list__link-container {
  padding-top: 19px;
  border-top: 1px solid rgba(217, 217, 217, 1);
}

.cards-list__link {
  font-size: 16px;
  line-height: 16px;
  color: $f-opt-color;
  text-transform: uppercase;

  &:hover .cards-list__link-icon,
  &:focus .cards-list__link-icon {
    width: 33px;
  }

  &:active {
    color: transparentize($f-opt-color, 0.7);
  }
}

.cards-list__link-icon-container {
  display: inline-block;
  height: 11px;
  margin-left: 8px;
}

@media (min-width: $tablet-width) {
  .cards-list__item {
    min-height: 372px;
    margin-bottom: 30px;
    padding-top: 78px;
    padding-bottom: 58px;
    padding-left: 54px;
    padding-right: 280px;

    &--mass {
      padding-right: 315px;
    }

    &::before {
      top: 92px;
      left: 445px;
      width: 204px;
      height: 204px;
    }

    &--mass::before {
      top: 91px;
      left: 446px;
    }

    &--fit::after {
      top: 82px;
      left: 477px;
      width: 140px;
      height: 194px;
      background-size: 140px 194px;
    }

    &--mass::after {
      top: 136px;
      left: 412px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }
  }

  .cards-list__title {
    margin-left: 0;
    font-size: 36px;
  }

  .cards-list__description {
    margin-top: 26px;
    margin-bottom: 58px;
    font-size: 16px;
    line-height: 24px;
  }

  .cards-list__link-container {
    padding-top: 0;
    border-top: none;
  }

  .cards-list__link {
    font-size: 20px;
    line-height: 20ppx;
  }
}

@media (min-width: $desktop-width) {
  .cards-list__item {
    width: 570px;
    margin-bottom: 0;
    padding-bottom: 60px;
    padding-left: 52px;
    padding-right: 56px;

    &::before {
      top: 46px;
      left: 48px;
      width: 105px;
      height: 105px;
    }

    &--fit::after {
      top: 41px;
      left: 65px;
      width: 70px;
      height: 97px;
      background-size: 70px 97px;
    }

    &--mass::after {
      top: 69px;
      left: 33px;
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
    }
  }

  .cards-list__title {
    margin-left: 160px;
  }

  .cards-list__description {
    margin-top: 73px;
    margin-bottom: 34px;
  }
}
