.catalog-list {
  @include reset-list;
}

.catalog-list__item {
  position: relative;
  min-height: 209px;
  padding: 22px 20px;
  border: 1px solid rgba(237, 237, 237, 1);
  border-top: none;

  &:first-child {
    min-height: 210px;
    border-top: 1px solid rgba(237, 237, 237, 1);
  }

  &--extra {
    position: relative;
    padding-top: 80px;
    padding-bottom: 24px;
  }

  &--extra::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background-image: url("../../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
}

.catalog-list__title {
  margin-left: 140px;
  padding-right: 62px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-list__info {
  width: 140px;
  margin-top: 13px;
  margin-left: 140px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}

.catalog-list__info-cell {
  width: 70px;
  padding: 0;

  &--f {
    text-align: left;
  }

  &--s {
    text-align: right;
  }
}

.catalog-list__item-link-img {
  position: absolute;
  top: 0;
  left: 20px;
}

.catalog-list__btn {
  width: auto;
  margin-top: 22px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 19px;
  }

  .catalog-list__item {
    width: 324px;
    min-height: 431px;
    margin: 70px 0;
    padding: 0 38px;
    padding-top: 165px;
    padding-bottom: 37px;
    text-align: center;
    background-color: $opt-color-gy;
    border: none;

    &:first-child {
      border-top: none;
    }

    &--extra {
      padding-top: 163px;
      background-color: $base-color;
      border: 1px solid $border-color;
    }

    &--extra::before {
      top: 55px;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
      background-size: 60px 60px;
    }
  }

  .catalog-list__item-link-img {
    position: static;
  }

  .catalog-list__preview {
    position: absolute;
    bottom: 305px;
    left: 0;
  }

  .catalog-list__title {
    margin: 0;
    padding: 0;
    padding-left: 58px;
    padding-right: 55px;
    font-size: 20px;
  }

  .catalog-list__info {
    width: 100%;
    margin: 0;
    margin-top: 0;
    font-size: 16px;
  }

  .catalog-list__info-cell {
    width: 50%;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(205, 205, 205, 1);
  }

  .catalog-list__item-link-img {
    top: -50px;
    left: 50%;
    margin-left: -70px;
  }

  .catalog-list__btn {
    width: auto;
    margin: 0 auto;
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-list {
    padding-top: 97px;
    padding-bottom: 29px;
  }

  .catalog-list__item {
    width: 246px;
    padding-top: 162px;
    padding-bottom: 40px;

    &--extra {
      padding-top: 165px;
      padding-bottom: 38px;
    }
  }

  .catalog-list__title {
    padding: 0 15px;
  }
}
