.example {
  width: 320px;
  margin: 0 auto;
  background-color: $opt-color-gy;
}

.example__wrapper {
  padding-top: 14px;
}

.example__title {
  margin-bottom: 32px;
}

.example__description {
  @include reset;
  margin-right: 12px;
  font-family: "Arial";
}

.example__cost {
  @include reset;
  color: $f-opt-color;
}

@media (min-width: $tablet-width) {
  .example {
    width: auto;
    background-color: $base-color;
  }

  .example-slider {
    background-color: $opt-color-gy;
  }

  .example__title {
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
