.extras-list {
  @include reset-list;
}

.extras-list__title {
  font-size: $f-sec;
  line-height: $l-sec;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .extras-list {
    width: 700px;
  }
}
