.extras {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: $base-color;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    display: block;
    width: 53px;
    height: 3px;
    border-bottom: 3px solid $opt-color-gn;
  }
}

.extras__title {
  padding-top: 26px;
  padding-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
}

.extras__special-offer {
  margin-top: 40px;
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .extras {
    position: relative;
    width: auto;
    padding-top: 91px;
    border-top: 3px solid $opt-color-gn;

    &::before {
      display: none;
    }
  }

  .extras__title {
    position: absolute;
    top: -25px;
    width: 415px;
    padding-top: 0;
    padding-bottom: 80px;
    padding-left: 38px;
    font-size: 36px;
    line-height: 36px;
    background-color: $base-color;
  }

  .extras__special-offer {
    margin-top: 70px;
    margin-bottom: 78px;
  }
}

@media (min-width: $desktop-width) {
  .extras__title {
    margin-left: -40px;
    padding-bottom: 79px;
  }

  .extras__extras-list {
    margin-bottom: 85px;
  }

  .extras__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .extras__special-offer {
    margin: 0;
  }
}
