.features {
  width: 320px;
  margin: 0 auto;
  @include outline-r;
}

.features__wrapper {
  height: 420px;
}

.features__list {
  @include reset-list;
}

@media (min-width: $tablet-width) {

  .features {
    width: auto;
  }

  .features__wrapper {
    height: 730px;
    @include outline-o;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .features__item {
    width: 280px;
  }
}

@media (min-width: $desktop-width) {

  .features__wrapper {
    height: 445px;
  }
}
