.intro {
  width: 320px;
  margin: 0 auto;
  background-color: $base-color;
}

.intro__wrapper {
  padding: 0;
  text-align: center;
}

.intro__background-container {
  position: relative;
  min-height: 305px;
  margin-bottom: 135px;
  padding-top: 27px;
  background-color: $opt-color-gn;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2;
    display: block;
    width: 280px;
    height: 271px;
    margin-top: 10px;
    background-image: url("../../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 280px 271px;
    background-position: 0 0;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro__background-container {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: cover;

    &::before {
      background-image: url("../../img/index-can-mobile@2x.png");
      background-size: 280px 271px;
    }
  }
}

.intro__title {
  margin-bottom: 25px;
  line-height: 36px;
  color: $base-color;
}

.intro__slogan {
  @include reset;
  margin: 9px 0;
  line-height: 14px;
  color: $base-color;
  text-transform: uppercase;
}

.intro__btn {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .intro {
    width: auto;
    background-color: transparent;
  }

  .intro__wrapper {
    padding-top: 32px;
    background-color: transparent;
    background-image: none;
  }

  .intro__background-container {
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: none;

    &::before {
      display: none;
    }
  }

  .intro__main-info {
    min-height: 810px;
    padding-left: 90px;
    padding-right: 155px;
    text-align: left;
    background-image: url("../../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 709px 609px;
    background-position: 50% 205px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro__main-info {
      background-image: url("../../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px;
    }
  }

  .intro__slogan,
  .intro__title {
    color: $f-opt-color;
  }

  .intro__title {
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
  }

  .intro__slogan {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__btn {
    width: 245px;
    margin: 0;
    padding: 16px 0;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    position: relative;
    padding-top: 52px;

    &::before {
      content: "";
      position: absolute;
      top: -26px;
      left: 455px;
      z-index: 2;
      display: block;
      width: 552px;
      height: 499px;
      background-image: url("../../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: 552px 499px;
      background-position: 0 0;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro__wrapper {
      &::before {
        background-image: url("../../img/index-can-desktop@2x.png");
      }
    }
  }

  .intro__main-info {
    min-height: 474px;
    padding-left: 80px;
    padding-right: 705px;
    background-image: none;
  }

  .intro__slogan {
    margin-bottom: 52px;
  }
}
