.intro {
    /*Временно*/
    background-color: $opt-color-gn;
}
.intro__slogan {
    text-transform: uppercase;
    color: $base-color;
}
.intro__title {
    line-height: 44px;
    color: $base-color;
}
