.logo-container__logo {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-container__logo-image {
  width: 191px;
  height: 44px;
}

@media (min-width: $tablet-width) {
  .logo-container__logo-image {
    width: 175px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .logo-container__logo-image {
    width: 202px;
    height: 60px;
  }
}
