.main-modal {
  width: 320px;
  margin: 0 auto;
  background-color: $base-color;
}

.main-modal__wrapper,
.main-modal__info-wrapper {
  padding: 0;
}

.main-modal__title {
  padding-top: 16px;
  padding-bottom: 26px;
  padding-left: 20px;
}

.main-modal__description {
  @include reset;
  padding-left: 20px;
  padding-right: 52px;
  color: $f-opt-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-modal {
    width: auto;
  }

  .main-modal__wrapper {
    width: auto;
    margin: 0;
  }

  .main-modal__title {
    padding: 0;
    padding-top: 34px;
    font-size: 60px;
  }

  .main-modal__description {
    margin-top: 55px;
    padding: 0;
    padding-left: 40px;
    padding-right: 290px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-modal__title {
    padding-top: 22px;
  }
}
