.main-nav {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $f-opt-color;
  backgorund-color: $base-color;
}

.main-nav__nav-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 63px;
  padding: 0;
  background-color: $base-color;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
  }
}

.main-nav--opened .main-nav__nav-btn::before {
  top: 21px;
  left: 23px;
  background-image: url("../../img/close.svg");
  background-size: 18px 18px;
}

.main-nav--closed .main-nav__nav-btn::before {
  top: 21px;
  left: 20px;
  width: 24px;
  background-image: url("../../img/mobile-menu.svg");
  background-size: 24px 18px;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__nav-list {
    display: none;
  }

  .main-nav--opened .main-nav__nav-list {
    display: block;
  }

  .main-nav--nojs .main-nav__nav-list {
    display: block;
  }

  .main-nav--nojs .main-nav__nav-btn {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__nav-btn {
    display: none;
  }

  .main-nav__nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__nav-list {
    min-width: 480px;
  }
}
