.main-catalog {
  width: 320px;
  margin: 0 auto;
  background-color: $base-color;
}

.main-catalog__wrapper {
  padding: 0;
}

.main-catalog__title {
  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .main-catalog {
    width: auto;
  }

  .main-catalog__wrapper {
    padding-top: 34px;
  }

  .main-catalog__title {
    padding: 0;
    font-size: 60px;
  }
}
