.main-map {
  background-color: $opt-color-gy;
  
  &--index {
    background-color: $base-color;
  }
}

.main-map__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 20px;
}

.main-map__frame-wrapper {
  width: auto;
  padding: 0;
  margin: 0;
}

.main-map__invite,
.main-map__address {
  width: 140px;
}

.main-map__invite {
  @include reset;
  font-size: 16px;
  line-height: 20px;
  color: $f-opt-color;
  text-transform: uppercase;
}

.main-map__address {
  @include reset;
  font-family: "Arial";
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .main-map__wrapper {
    padding: 66px 42px;
    padding-bottom: 60px;
  }

  .main-map__frame {
    @include reset;
    width: 100%;
    height: 398px;
  } 

  .main-map__invite,
  .main-map__address {
    width: 155px;
  }

  .main-map__invite {
    font-size: 20px;
    line-height: 25px;
  }

  .main-map__address {
    font-family: "Arial";
    font-size: 16px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .main-map {
    position: relative;
  }

  .main-map__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .main-map__wrapper {
    position: absolute;
    top: 95px;
    z-index: 2;
    width: 570px;
    padding: 43px 0;
    padding-left: 78px;
    padding-right: 90px;
    background-color: $base-color;
    transform: translate(0);
  }

  .main-map__frame-wrapper {
    @include reset;
  }

  .main-map__frame {
    height: 402px;
  } 
}