.modal {
  padding-top: 16px;
  padding-bottom: 32px;
  text-align: center;
}

.modal__reminder {
  font-family: "Arial";
  line-height: 16px;
  font-weight: 400;
}

.modal__btn {
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

@media (min-width: $tablet-width) {
  .modal {
    padding-top: 42px;
  }

  .modal__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
  }

  .modal__btn {
    margin: 0;
    margin-right: 64px;
    padding: 15px 0;
    font-size: 20px;
  }

  .modal__reminder {
    padding: 12px 0;
  }
}

@media (min-width: $desktop-width) {
  .modal__double-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .set {
    width: 100%;

    &--main-info,
    &--radio {
      width: 570px;
    }
  }
}
