.nav-list {
  @include reset-list;
  backgorund-color: $base-color;
}

.nav-list__item {
  @include reset;
  padding: 22px 20px;
  text-align: center;
  border-bottom: 1px solid $border-color;

  &--last-item {
    border-bottom: none;
  }
}

.nav-list__link {
  color: $f-opt-color;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: transparentize($f-opt-color, 0.4);
  }

  &:active {
    color: transparentize($f-opt-color, 0.7);
  }
}

@media (min-width: $tablet-width) {
  .nav-list__item {
    padding: 12px 0;
    padding-top: 20px;
    border-bottom: none;

    &--active {
      border-bottom: 2px solid $opt-color-gn;
    }
  }
}
