.nav-list {
  backgorund-color: $base-color;
  list-style: none;
}

.nav-list__link {
  text-transform: uppercase;
  color: $f-opt-color;

  &:hover,
  &:focus {
    color: transparentize($f-opt-color, 0.4);
  }

  &:active {
    color: transparentize($f-opt-color, 0.7);
  }
}
