.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: $opt-color-gy;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
