.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: $base-color;
}

.page-header__wrapper {
  padding: 0;
}

.page-header__logo-container {
  width: auto;
  padding: 8px 20px;
  border-bottom: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
    padding: 24px 0; 
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo-container {
    padding: 0;
    border-bottom: none;
  }
}
