.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: $base-color;
}

.page-header__wrapper {
  padding: 0;
}

.page-header__logo-container {
  width: auto;
  padding: 8px 20px;
  border-bottom: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
  }

  .page-header__logo-container {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url(../../img/index-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
  }

  .page-header__wrapper {
    padding: 53px 0;
  }

  .page-header__main-nav {
    background-color: transparent;
  }
}
