.set__legend {
  font-size: 24px;
  line-height: 24px;
}

.set__label {
  font-size: 16px;
  line-height: 18px;
  color: $f-modal-color;
  text-transform: uppercase;
}

.set__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $f-base-color;
  text-transform: uppercase;
}
