html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: auto;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-size: $f-main;
  line-height: $l-main;
  font-weight: 400;
  color: $f-base-color;
  background-color: $base-color;
}

.wrapper {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {

  .wrapper {
    width: 710px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {

  .wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: $f-title;
  line-height: $l-title;
  font-weight: 400;
  color: $f-opt-color;
}

.feature-title,
.product-title {
  margin: 0;
  padding: 0;
  font-size: $f-sec-title;
  line-height: $l-sec-title;
  font-weight: 400;
  color: $f-opt-color;
}

.link {
  text-decoration: none;
}

.btn {
  display: block;
  font-size: $f-sec;
  line-height: $l-sec;
  color: $base-color;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $opt-color-gn;

  &:hover,
  &:focus {
    background-color: $opt-color-gn - 10 -13 -9;
  }

  &:active {
    color: transparentize($base-color, 0.7);
  }
}
