$base-color: rgba(255, 255, 255, 1);
$opt-color-gn: rgba(104, 186, 56, 1);
$opt-color-gy: rgba(242, 242, 242, 1);
$border-color: rgba(230, 230, 230, 1);
$f-base-color: rgba(68, 68, 68, 1);
$f-opt-color: rgba(17, 17, 17, 1);
$f-modal-color: rgba(34, 34, 34, 1);
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
