$base-color: rgba(255, 255, 255, 1);
$opt-color-gn: rgba(104, 186, 56, 1);
$opt-color-gy: rgba(242, 242, 242, 1);
$f-base-color: rgba(68, 68, 68, 1);
$f-opt-color: rgba(17, 17, 17, 1);
$f-modal-color: rgba(34, 34, 34, 1);
$f-main: 14px;
$f-sec: 16px;
$f-description: 12px;
$f-title: 36px;
$f-sec-title: 24px;
$f-points: 20px;
$l-main: 18px;
$l-sec: 20px;
$l-description: 12px;
$l-title: 60px;
$l-sec-title: 36px;
$l-points: 20px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
