$base-color: rgba(255, 255, 255, 1);
$opt-color-gn: rgba(104, 186, 56, 1);
$opt-color-gy: rgba(242, 242, 242, 1);
$font-base-color: rgba(68, 68, 68, 1);
$font-opt-color: rgba(17, 17, 17, 1);
$font-form-color: rgba(34, 34, 34, 1);
$font-main: 14px;
$font-sec-main: 16px;
$font-description: 12px;
$font-title: 36px;
$font-sec-title: 24px;
$font-points: 20px;
$line-main: 18px;
$line-sec-main: 20px;
$line-description: 12px;
$line-title: 60px;
$line-sec-title: 36px;
$line-points: 20px;